html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.third-party-table .filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.third-party-table .filters .searchbox {
  display: flex;
}

.associates-table .filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.third-party-table .submit-transaction-button {
  width: 100%;
}

.wallet-modal .submit-transaction-button {
  width: 100%;
}

.transaction-modal .submit-transaction-button {
  width: 100%;
}

.associates-table .filters .searchbox {
  display: flex;
}

.qr-code {
  width: -webkit-fill-available;
}

.success-qr {
  text-align: center;
}

.button-scan {
  margin-bottom: 20px;
}



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
